form.create-guide-form {
    display: flex;
    flex-direction: column;
    gap: var(--size-md);
    max-width: var(--width-md);
    margin: 0 auto;

    label {
        display: flex;
        flex-direction: column;
        gap: var(--size-2xs);
    }
}
