.step {
    display: flex;
    gap: var(--size-md);
    align-items: center;

    input {
        flex-grow: 1;
    }

    span {
        margin: 0;
        line-height: 1;
        color: var(--ice-400);
        font-weight: bold;
    }

    button {
        font-weight: bold;
    }
}
