body {
    color: var(--text-main);
    background-color: var(--bg-app);
    font-size: var(--size-md);
    line-height: 1.6;
}

#app {
    display: flex;
    flex-direction: column;
    gap: var(--size-md);
    padding: var(--size-md);
}

footer {
    margin-top: auto;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--text-heading);
    font-weight: bold;
    line-height: 1.2;
    margin: 0.25em 0;
}

h1 {
    font-size: var(--size-2xl);
}

h2 {
    font-size: var(--size-xl);
}

h3 {
    font-size: var(--size-lg);
}

h4 {
    font-size: var(--size-md);
}

p {
    max-width: var(--width-md);
    margin: var(--size-md) 0;
}

input,
textarea,
select {
    box-shadow: inset 1px 1px var(--size-2xs) #22222280;
    border-radius: var(--size-2xs);
    resize: none;
    padding: var(--size-2xs) var(--size-xs);
    line-height: 1.5;
}
